

*
{
    box-sizing: border-box;
     transition: all 0s !important;
}
#about{
    margin-top: 8%!important;
}
h2
{
    color: #ea0647;
}
p
{
    font-size: 20px;
    color: deeppink;
}
a{
    text-decoration: none;
    border-bottom-style: none;
    text-decoration-line: none;
    color: #ea0647;
}
.profileIcon a i{
    color: black;
}
.nevs li:hover a{
    color: #ea0647 !important;
}
le{
clear: both;
}
.nevs{
/*  height: 70px;*/
    
}

.sec1 span{
    color:#ea0647;
}
h4 {
    color: aquamarine;
}
.sec1 button{
    color: #ea0647;
    border: solid 1px #ea0647;
}
.sec1 button:hover  {
    background-color: #ea0647;
    color: white;
    border: none;   
}
.sec1 i:hover{
    color: #ea0647;
}
.img1
{
    width: 400px;
    height: 400px;
}
.para
{   color: #ea0647;
    margin-bottom: 50px;
}


footer span{
    color:#ea0647;
}
/*------------*/

a{
    text-decoration: none;
}
le{
clear: both;
}
.nevs{
  height: 70px;
  background-color:#fff;
    width: 100%;
    z-index: 55;
    position: fixed;
    top: 0px;
    left: 0px;
   border-bottom: 1px solid rgba(0,0,0,.05);
}
.nevs li a{
    color: black;
}
.form-inline{
    border-left: rgba(0,0,0,0.5) 1px solid;
}

.sec1 span{
    color:#ea0647;
}

/*------------pop up----------------*/

.lightbox-container
{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.lightbox-holder
{
    position: relative;
}
.light-close
{
    position: absolute;
    top: 130px;
    color:#ea0647;
    right: 30px;
    cursor: pointer;
}
.login-card{
    display: none;
}
.reg-card{
     margin-top: 120px;
    display:none;
}

.loginLink a{
    color:#ea0647!important;
    cursor: pointer;
}

.show
{
    display: block;
}