*{
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
   
}
.logOut{
    border:1px solid #ea0647;
    position: absolute;
    top:5px;
    right: 15px;
    
}
.editor{
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.nevs{
    background-color:white;
    border-bottom: 1px solid rgba(0,0,0,.05);

}
.nevs li a{
    color: black;
}
.form-inline{
    border-left: rgba(0,0,0,0.5) 1px solid;
}
.navbar-nav li{
/*    font-size: 1.1rem;*/
/*    font-style: italic;*/
/*    letter-spacing: 1.8px;*/
}
a {
    color: #ea0647;
}
.profileIcon a i{
    color: black;
}
.workSheet{
    -moz-box-shadow: 0 0 25px #999;
    -webkit-box-shadow: 0 0 25px #999;
    box-shadow: 0 0 25px #999;
    border:1px solid #ea0647; 
    height: 384px;
    width: 528px;
}
.editIcons{
    color: #ea0647;
    cursor: pointer;
}
.editor .bgOptionsArea button{
    background-color: #ea0647;
    color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
    border-style:none;
    cursor: pointer;
}
.textOptions button{
    background-color: #ea0647;
    color: #fff;
    transition:all 0s !important;
}

.editor .save_download button{
    color: #ea0647;
    border: solid 1px #ea0647;
 
}
.editor .save_download button:hover  {
    background-color: #ea0647;
    color: white;
    border: none;   
}
.menues{
    background-color:#fff;

}
.menueList{
    background-color: rgba(65,0,73,1);
    margin-left: 15px;
}
.optionList{
    background-color:#fff;
         transition: all 2s !important;

}
.menueOptions{
    list-style: none;
}
.menueOptions p{
    font-size: 13px;
}
.menueOptions li{
    margin-top: 5px;
    color:white;
}

.menueOptions li:hover{
    cursor: pointer;
}
.menueOptions li i{
    opacity: 0.9;
}
.cardSizeArea img{
    cursor: pointer;
}
 h5{
    font-size: 110%;
     font-weight: 600;
}
.menueOptions li:hover p,.menueOptions li:hover i{
    color:#be62a6 !important;
}

.options
{
    background-color: rgba(65,0,73,1);
}


.form-control.g1ColorPicker,.form-control.g2ColorPicker,.form-control.colorPicker{
    background-color: transparent !important;
    border:none !important;
    width:50px !important;
    height:40px !important;
    margin: 0px !important;
}
.form-check-input{
    height: 20px !important;
    width: 20px !important;
}
.bgColorArea .col-2{
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%  !important;
}
/* to make div display block*/
.cardSizeArea{
    display: none;  
}
.bgColorArea{
    display: none;
}
.weddingArts,.birthdayArts,.motherArts,.partyArts,.watercolorArts,.floralArts,.boardersArts{
    display: none;
     height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.save_download .alert{
    background-color: rgba(65,0,73,.7) !important;
}
.save_download {
    margin-left: 7% !important;
}
.bgColorArea .red{background-color: red;cursor: pointer;}
.bgColorArea .yellow{background-color: yellow;cursor: pointer;}
.bgColorArea .green{background-color: green;cursor: pointer;}
.bgColorArea .white{background-color: white;cursor: pointer;}
.bgColorArea .purple{background-color: purple;cursor: pointer;}
.bgColorArea .blue{background-color: blue;cursor: pointer;}
.bgColorArea .black{background-color: black;cursor: pointer;}
.bgColorArea .pink{background-color: hotpink;cursor: pointer;}
.bgColorArea .orange{background-color: orange;cursor: pointer;}
.bgColorArea .brown{background-color: brown;cursor: pointer;}
.bgColorArea .grey{background-color: gray;cursor: pointer;}
.bgColorArea .lightblue{background-color: lightblue;cursor: pointer;}
.bgColorArea .colorPicker{cursor: pointer;}

.clipArea{
    display: none;

}
.textCustArea{
    display: none;  

}
.bgOptionsArea{
    display: none;

    
}
.uploadArea{
    display: none;

}
.bgColorArea .row div{
    width: 25px;
    height: 25px;
}
/**** text area shimaa***/
.textCustArea button{
    background-color: #ea0647;
    color: #fff;
    cursor: pointer;
}

#secScroll{
    height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
}
.item{
    font-size: 18px !important;
}
/****editTextList ****/

#editTextList{
    display:none;
}

/*------------pop up----------------*/

.lightbox-container
{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.lightbox-holder
{
    position: relative;
}
.light-close
{
    position: absolute;
    top: 130px;
    color:#ea0647;
    right: 30px;
    cursor: pointer;
}
.login-card{
    display: none;
}
.reg-card{
     margin-top: 120px;
    display:none;
}

.loginLink a{
    color:#ea0647!important;
    cursor: pointer;
}

.show
{
    display: block;
}
/*
.rem{
    display: none;
}*/
